/* Facebook gomb */
.btn-facebook {
    border: none;
    background-color: #3A5795;
    color: #f0f0f0;
    box-shadow: 0 0 3px #777777;
    border-radius: 2px;
    transition: all 0.5s;
}
.btn-facebook:hover {
    box-shadow: 0 0 8px #777777;
}

/* Profil div */
.profile-div {
    position: fixed;
    left: -100%;
    top: 1000px;
    opacity: 0;
    /* transition: all 0.5s; */
}
.profile-div.show {
    position: relative;
    animation-name: facebook;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    left: 0;
    top: 0;
    opacity: 1;
}
.profile-div form {
    width: 50%;
    margin: 10px auto;
}

/* Keyframes */
@keyframes facebook {
    0%  {opacity: 0; left: -100%; top: 100px;}
    50% {opacity: 0.5; left: 0; top: 100px;}
    100% {opacity: 1; left: 0; top: 0;}
}
.test-row div {
    height: 40px;
    background-color: aqua;
    border-right: solid 1px white;
    border-top: solid 1px white;
    
}
table, form {
    text-align: left;
}
.my-form{
    max-width: 300px;
    margin: 15px auto;
    box-shadow: 0 0 5px blue;
    padding: 15px;
    border-radius: 4px;
}
.form-div{
    float: none;
}